.control-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#threejs-container {
  margin-bottom: 20px;
}

.pulse-effect {
  animation: pulse 300ms ease-out;
}

@keyframes pulse {
  0% {
    background-color: var(--ion-color-primary); /* Default primary color */
    opacity: 1;
  }
  50% {
    background-color: var(--ion-color-secondary); /* Change to secondary color */
    opacity: 0.7;
  }
  100% {
    background-color: var(--ion-color-primary); /* Return to primary color */
    opacity: 1;
  }
}
