<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Explore Container</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- Three.js Canvas on the left side -->
      <ion-col size="6">
        <app-threejs
          [adjustTHREERobotHeightValue]="adjustTHREERobotHeightValue"
          [updateTHREERobotTiltValue]="updateTHREERobotTiltValue"
          [updateTHREERobotMotorPWMValue]="updateTHREERobotMotorPWMValue"
          [updateTHREERobotWheelMovementValue]="updateTHREERobotWheelMovementValue"
        ></app-threejs>
      </ion-col>

      <ion-col size="6">
        <app-control
          [Kp]="Kp"
          [Ki]="Ki"
          [Kd]="Kd"
          [incrementDegree]="incrementDegree"
          [heights]="heightLevels"
          [heightLevelIndex]="heightLevelIndex"
          [isSensorAdjustmentEnabled]="isSensorAdjustmentEnabled"
          (heightChanged)="onHeightChanged($event)"
          (sensorToggled)="onSensorToggled($event)"

          (KpChanged)="updateKp($event)"
          (KiChanged)="updateKi($event)"
          (KdChanged)="updateKd($event)"

          (degreeChanged)="updateIncrementDegree($event)"
          (stopCommand)="onStopCommand()"
          (controlCommand)="sendControlCommand($event)"
        ></app-control>

        <app-raw-data
          [accelData]="accelData"
          [tiltAngles]="tiltAngles"
          [isSensorAdjustmentEnabled]="isSensorAdjustmentEnabled"
        ></app-raw-data>

        <app-motor-output
          [leftMotorPWM]="leftMotorPWM"
          [rightMotorPWM]="rightMotorPWM"
          [leftServoPulse]="leftServoPulse"
          [rightServoPulse]="rightServoPulse"
        ></app-motor-output>

        <app-console
        [isConsoleAutoScrollEnabled]="isConsoleAutoScrollEnabled"></app-console>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
