<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Explore Container</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
    
      <ion-col size="6">
        <app-threejs
          [adjustTHREERobotHeightValue]="adjustTHREERobotHeightValue"
          [updateTHREERobotTiltValue]="updateTHREERobotTiltValue"
          [updateTHREERobotMotorPWMValue]="updateTHREERobotMotorPWMValue"
          [updateTHREERobotWheelMovementValue]="updateTHREERobotWheelMovementValue"
        ></app-threejs> 
      </ion-col>

      <ion-col size="6">
        <app-control
          [Kp]="config?.Kp"
          [Ki]="config?.Ki"
          [Kd]="config?.Kd"
          [incrementDegree]="config?.incrementDegree"
          [heights]="levelsArray"
          [isSensorAdjustmentEnabled]="config?.isSensorAdjustmentEnabled"
          [heightLevelIndex]="heightLevelIndex"
          
          (KpChanged)="updateKp($event)"
          (KiChanged)="updateKi($event)"
          (KdChanged)="updateKd($event)"
          (degreeChanged)="updateIncrementDegree($event)"
          (heightChanged)="onHeightChanged($event)"
          (sensorToggled)="onSensorToggled($event)"
          (stopCommand)="onStopCommand()"
          (walkCommand)="onWalkCommand($event)"
        ></app-control> 
       

        <app-raw-data
          [accelData]="accelData"
          [tiltAngles]="tiltAngles"
          [isSensorAdjustmentEnabled]="config?.isSensorAdjustmentEnabled"
        ></app-raw-data>

        <app-motor-output
          [leftMotorPWM]="leftMotorPWM"
          [rightMotorPWM]="rightMotorPWM"
          [leftServoPulse]="leftServoPulse"
          [rightServoPulse]="rightServoPulse"
        ></app-motor-output>

        <app-console
          [isConsoleAutoScrollEnabled]="isConsoleAutoScrollEnabled"></app-console>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
